@media (min-width: 375px) {
    .bluebox {
        margin-bottom: 18px;

        .first-box {
            background: linear-gradient(0deg, #2F37F4, #2F37F4);
            padding: 16px 16px 7px;

            .first-text {
                display: flex;
                justify-content: space-between;
                height: 33px;

                :first-child {
                    line-height: 27px;
                    font-size: 16px;
                    text-align: end;
                }

                :last-child {
                    line-height: 27px;
                    font-size: 18px;
                }

            }

            .show-line {
                margin: auto;
                content: '';
                display: block;
                width: 28px;
                height: 2px;
                background: #6066F3;
                border-radius: 5px;
            }
        }

        .second-text {
            display: none;
            background: linear-gradient(0deg, #2F37F4, #2F37F4);
            box-shadow: 0px 4px 12px rgba(23, 30, 198, 0.35);
            margin: 10px auto 0;
            padding: 16px 16px 7px;
            border-radius: 6px;
            position: absolute;
            top: 0;
            left: 50%;
            width: 355px;
            transform: translate(-50%, 0%);
            -webkit-transform: translate(-50%, 0%);
            -moz-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            -o-transform: translate(-50%, 0%);

            .show-line {
                margin: auto;
                content: '';
                display: block;
                width: 28px;
                height: 2px;
                background: #6066F3;
                border-radius: 5px;
            }

            .s-t-title {
                font-size: 20px;
                line-height: 20px;
                font-weight: 600;
            }

            .undertext {
                margin-bottom: 12px;
            }
        }

        .third-text {
            display: none;
        }


    }
}

@media (min-width: 1200px) {
    .leftside {
        max-width: 418px;
        height: 100%;
        background: linear-gradient(0deg, #2F37F4, #2F37F4);
        padding: 36px 28px 42px;

        .bluebox {
            margin-bottom: 0;

            .s-t-title {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 24px;
            }

            .first-box {
                display: none;
            }

            .second-text {
                display: block;
                background: none;
                box-shadow: none;
                margin: 0;
                padding: 0;
                position: relative;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;

                .show-line {
                    display: none;
                }

                .main-text {
                    font-size: 18px;
                    line-height: 27px;
                    margin-bottom: 28px;
                }

                .amnt-text {
                    font-size: 34px;
                    line-height: 52px;
                    margin-bottom: 0;
                }


                .undertext {
                    margin-bottom: 42px;
                }
            }

            .third-text {
                display: block;

                .s-t-title {
                    margin-bottom: 18px;
                }

                .main-text {
                    font-size: 17px;
                    line-height: 26px;
                    margin-bottom: 8px;
                }

                .bt-text {
                    margin-bottom: 677px;
                }

                .footer-text {
                    font-size: 18px;
                    line-height: 27px;
                    margin: 0;
                }
            }
        }
    }
}